body {
  font-family: "Inter", sans-serif;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    width: 25%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

td p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}
